/tmp-clearbox/
/qdb/
/dni/
/output_files/
/build/

/custom_ip/iopll/iopll_comp/

hps_subsys/hps_subsys/
/hps_subsys/ip/hps_subsys/agilex_hps/
/hps_subsys/ip/hps_subsys/f2sdram_adapter/
/hps_subsys/ip/qsys_top/emif_io96b_hps/

/jtag_subsys/jtag_subsys/
/jtag_subsys/ip/jtag_subsys/jtag_clk/
/jtag_subsys/ip/jtag_subsys/jtag_rst_in/
/jtag_subsys/ip/jtag_subsys/hps_f2sdram/
/jtag_subsys/ip/jtag_subsys/fpga_m/
/jtag_subsys/ip/jtag_subsys/hps_m/

/peripheral_subsys/peripheral_subsys/
/peripheral_subsys/ip/peripheral_subsys/periph_clk/
/peripheral_subsys/ip/peripheral_subsys/periph_rst_in/
/peripheral_subsys/ip/peripheral_subsys/sysid/
/peripheral_subsys/ip/peripheral_subsys/button_pio/
/peripheral_subsys/ip/peripheral_subsys/dipsw_pio/
/peripheral_subsys/ip/peripheral_subsys/led_pio/
/peripheral_subsys/ip/peripheral_subsys/pb_cpu_0/

/qsys_top/
/ip/qsys_top/clk_100/
/ip/qsys_top/rst_in/
/ip/qsys_top/user_rst_clkgate_0/
/ip/qsys_top/ocm/
/ip/qsys_top/gts_inst/
/ip/qsys_top/altera_ace5lite_cache_coherency_translator_0/
/ip/qsys_top/ext_hps_f2sdram_master/

ghrd_a5ed065bb32ae6sr0.qpf
ghrd_a5ed065bb32ae6sr0.qsf
ghrd_agilex5_top.v
hps_subsys/hps_subsys.qsys
hps_subsys/hps_subsys.qsys.legacy
hps_subsys/ip/hps_subsys/agilex_hps.ip
hps_subsys/ip/hps_subsys/f2sdram_adapter.ip
hps_subsys/ip/qsys_top/emif_io96b_hps.ip
ip/qsys_top/altera_ace5lite_cache_coherency_translator_0.ip
ip/qsys_top/clk_100.ip
ip/qsys_top/ext_hps_f2sdram_master.ip
ip/qsys_top/gts_inst.ip
ip/qsys_top/ocm.ip
ip/qsys_top/rst_in.ip
ip/qsys_top/user_rst_clkgate_0.ip
jtag_subsys/ip/jtag_subsys/fpga_m.ip
jtag_subsys/ip/jtag_subsys/hps_f2sdram.ip
jtag_subsys/ip/jtag_subsys/hps_m.ip
jtag_subsys/ip/jtag_subsys/jtag_clk.ip
jtag_subsys/ip/jtag_subsys/jtag_rst_in.ip
jtag_subsys/jtag_subsys.qsys
jtag_subsys/jtag_subsys.qsys.legacy
peripheral_subsys/ip/peripheral_subsys/button_pio.ip
peripheral_subsys/ip/peripheral_subsys/dipsw_pio.ip
peripheral_subsys/ip/peripheral_subsys/led_pio.ip
peripheral_subsys/ip/peripheral_subsys/pb_cpu_0.ip
peripheral_subsys/ip/peripheral_subsys/periph_clk.ip
peripheral_subsys/ip/peripheral_subsys/periph_rst_in.ip
peripheral_subsys/ip/peripheral_subsys/sysid.ip
peripheral_subsys/peripheral_subsys.qsys
peripheral_subsys/peripheral_subsys.qsys.legacy
qsys_generate_qsys
qsys_top.qsys
qsys_top.qsys.legacy
